body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}
.layout {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}
.sidebar {
    text-align: left;
    border: solid .2em #fff;
    padding: 20px;
}
canvas#board {
    border: solid .2em #fff;
}
.panel {
    margin-bottom: 20px;
}
.stats div {
    margin-bottom: 10px;
}
canvas#next {
    background: #000;
    border: solid .2em #fff;
}